$bg: #000000;
$border: 2px solid black;

*{
    margin: 0;
    padding: 0;
}

@mixin container($bg,$border){

}

@mixin flex($direction){
    display: flex;
    flex-direction: $direction;
    
}

.container{
    @include flex(row);
    width: 500px;
    background-color: yellow;
    height: 200px;
    padding: 10px;
}

.align{
    &-left{
    width: 60%;
    background-color: red;
    margin-right: 10px;
    &:hover{
        content: "Display Left";
        background-color:purple;
    }
    }
    &-right{
    @include flex(column);
    width: 40%;
    background-color: green;
    &:hover{
        content: "Display Left";
        background-color:purple;
    }
    }
}

.button{
    margin: auto 20px 20px;
    border:none;
    background-color: salmon;
    padding: 10px;
    border-radius: 5px;
    
    &:hover{
        background-color: yellowgreen;
        cursor: pointer;
    }
}

